 
    les objets ayant déjà été achetés, 
    ayant été sélectionnés par des amis, urgents et normaux.
    En bas de la liste il doit y avoir un lien qui mène vers un formulaire 
    simulant l’ajout d’objets à la liste.  
*/
/* =====================BODY======================== */
body {
    margin: 0;
    font-family: sans-serif;
}
header h1{
    font-family: 'Arial black';
    margin: 10px 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}
/* ====================NAV-BAR=================== */
nav li {
    display: inline;
    text-decoration: none;
    /*border: 2px solid black;*/
    /*border-collapse: collapse;*/

}
nav a {
    padding: 5px;
    text-decoration: none;
    /*background: yellow;*/
    border: 2px solid black;
    border-collapse: collapse;
}
/*  CO*/
nav a:hover {
    scale: 1.2;
    background: pink;
}
nav ul {
    /*background: yellow;*/
    padding: 15px 10px;
    font-size: 20px;
    border: 1px solid black;
    background-color: lightblue;
}
/* .go-up {

} */
/* 
.categories {
    margin: 0 10px;
} */
/* ===================TABLE==================== */
.photo {
    width: 180px;
    padding: 0;
    margin: 0;
}
p {
    margin-left: 2%;
}
th {
    margin: 0 10px;
}

table, th, td {
    border: 2px solid black;
}
table {
    border-collapse: collapse;
    margin: 0 15px;
}
.link, .nom {
    text-align: center;
}
.description p{
    margin: 10px 10px;
}
.alimentation >th{
    background-color: darkorange;
}
/* ==================CATEGORIES=================== */
/* .bought {

}
.selected {

}
.urgent {

}
.normal { */

}
/* ====================FOOTER==================== 