 /*
    les objets ayant déjà été achetés, 
    ayant été sélectionnés par des amis, urgents et normaux.
    En bas de la liste il doit y avoir un lien qui mène vers un formulaire 
    simulant l’ajout d’objets à la liste.  
*/
/* =====================BODY======================== */
body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.4;
    background: rgba(175, 238, 238, 0.479);

}
header h1{
    font-family: 'Arial black';
    margin: 10px 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
}
/* ====================NAV-BAR=================== */
nav li {
    display: inline;
    text-decoration: none;
    margin-left: 20px;
    /*border: 2px solid black;*/
    /*border-collapse: collapse;*/

}
nav a {
    padding: 5px;
    text-decoration: none;
    /*background: yellow;*/
    border: 2px solid black;
    border-collapse: collapse;
}
nav ul {
    /*background: yellow;*/
    /*margin: 15px 30px;*/
    padding: 15px 10px;
    font-size: 20px;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px 5px lightblue;
    background-color: lightblue;
}
/* .go-up {

} */
/* 
.categories {
    margin: 0 10px;
} */
/* ====================ASIDE=================== */
aside table {
    /* border: none; */

    width:300px;
    margin:20px 15px;
}
aside td {
    /* border: none; */
    padding: 10px;
}
aside p {
    font-weight: 900;
    margin: 15px;
}
/* ===================TABLE==================== */
.categories {
    text-transform: uppercase;
}
#list {
    width:auto;
    background: rgba(175, 238, 238, 0.178);
}
.photo {
    width: 180px;
    padding: 0;
    margin: 0;
}
.description {
    margin-left: 2%;
}
th {
    margin: 0 10px;
}

table, th, td {
    border: 2px solid black;
}
table {
    /*width:auto;*/
    /*background: palegreen;*/
    border-collapse: collapse;
    margin: 0 15px;
}
.link, .nom {
    text-align: center;
}
.description p{
    margin: 10px 10px;
}
.alimentation >th{
    background-color: darkorange;
}
/* ==================CATEGORIES=================== */
.urgent{
    border-left: 10px solid red;
    border-right: 10px solid red;
    /* background: rgba(255, 0, 0, 0.541); */
    animation: changingbackground 2s infinite 
}
/* .urgent tr{
    background-color: red;
} */
.reserved {
    text-decoration: line-through;
    border-left: 10px solid rgb(255, 251, 0);
    border-right: 10px solid rgb(255, 251, 0);
    background: rgba(255, 251, 0, 0.664);

}
.bought {
    text-decoration: line-through;
    border-left: 10px solid rgb(247, 0, 255);
    border-right: 10px solid rgb(247, 0, 255);
    background: rgba(247, 0, 255, 0.336);

}
.normal { 
    border-left: 10px solid rgb(12, 201, 75);
    border-right: 10px solid rgb(12, 201, 75);
    background: rgba(12, 201, 75, 0.404);

}
/* ====================FOOTER==================== */

footer {
    /* border: 1px solid black; */
    box-shadow: 0 0 5px 5px rgb(173, 216, 230);
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 60px;
    /* background: pink; */
}
footer .form {
    border: 2px solid black;
    /* margin: 20px auto; */
    padding: 5px 10px;
    height: 48px;
    text-align: center;
}
footer img {
    width: 60px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    text-decoration: none;
}
a:hover {
    background: rgba(128, 128, 128, 0.397);
}
/* ==============ANIMATION============= */
@keyframes changingbackground {
    0%{background: rgba(255, 0, 0, 0.541);}
    50%{background: rgba(175, 238, 238, 0.479);}
    100%{background: rgba(255, 0, 0, 0.541);}

  }